/* Site Colors:
 #1A446C - blue grey
 #689DC1 - light blue
 #D4E6F4 - very light blue
 #EEE4B9 - light tan
 #8D0D19 - burgundy
 */

/* GLOBAL RULES */

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
   height: 100%;
   width: 100%;
}

body {
   width: 100%;
   height: 100%;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
   line-height: 110%;
   background: #EEE4B9;
}

img {
   border: none;
}

a {
   color: #8D0D19;
}

a:hover {
   color: #1A446C;
}

header {
   height 100%;
   background: #1A446C;
   color: #D4E6F4;
}

header h1 {
   padding: 1em;
   margin: 0;
}

main {
   height: 600px;
   width: 100%;
   background: #EEE4B9;
}

footer {
   clear: both;
   height: 2em;
   padding: 1em;
   text-align: center;
   background: #1A446C;
   color: #D4E6F4;
}

.group:after, .group:before{
  content: "";
  display: table;
  clear: both;
}

/*NAVIGATION RULES*/
nav {
   float: left;
   width: 150px;
   height: 100%;
   padding: 0 2em;
   background: #8D0D19;
   color: #D4E6F4;
}

nav a {
   color: #D4E6F4;
   text-decoration: none;
}

nav a:hover {
   color: #FFF;
}

ul.subjects {
   margin: 1em 0;
   padding-left: 0;
   list-style: none;
}

ul.pages {
   padding-left: 2em;
   list-style: square;
   font-weight: normal;
}

.selected {
   font-weight: bold;
}

/*PAGE CONTENT*/

article {
   float: left;
   height: 100%;
   width: 50%;
   padding-left: 2em;
   vertical-align: top;
   background: #EEE4B9;
}

article h2, article h3 {
   color: #8D0D19;
   margin-top 0:
}

article h2 {
   margin-top: 1em;
}

table {
    width: 500px;
}

th {
    font-weight: bold;
    text-align: left;
}

div.message {
    color: #8D0D19;
    border: solid 3px #8D0D19;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

.view-content {
    margin: 1em;
    padding: 1em;
    border: 1px solid #999;
}

/*FORM STYLES*/
form {
    display: flex;
    max-width: 500px;
    flex-flow: row wrap;
    align-items: center;
}
form p {
    flex: 0 0 100%;
    margin: 10px 0;
}
input, select, label {
    flex: 0 0 33.33%;
    margin: 10px 0;
}


/*errors*/
.error {
    color: #8d0d19;
    border: 2px solid #8d0d19;
    margin: 1em 0;
    padding: 1em;
}

.error ul {
    padding-left: 2em;
}
   
